/* LoginPage.module.css */
.signupPage {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* This makes the content take up the remaining space */
}

.signupPage h2 {
  margin-bottom: 1rem;
  color: #333;
}

.signupPage label {
  display: block;
  margin: 0.5rem 0;
}

.signupPage input {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signupPage button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupPage button:hover {
  background-color: #0056b3;
}
